.cms-dashboard {
    display: flex;
    height: 100vh;
  }
  .cms-sidebar {
    background-color: white;
    color: #fff;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid #ddd;
  }
  .sidebar-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .profile-circle {
    width: 150px;
    height: 150px;
    background-color: #888;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
  }
  .profile-info {
    text-align: center;
    margin-top: 10px;
  }
  .profile-name {
    font-weight: bold;
    font-size: x-large;
    color: #000;
  }
  .profile-contacts {
    font-weight: normal;
    color: black;
  }
  .profile-email {
    font-weight: bold;
    font-size: small;
    color: black;
  }
  .sidebar-links {
    list-style: none;
    padding: 0;
  }
  .sidebar-links li {
    margin: 1rem 0;
  }
  .sidebar-links a {
    text-decoration: underline;
    color: #000;
  }
  .sidebar-links a:hover {
    color: #072840;
  }
  .star-label {
    margin-left: 10px;
    font-size: 12px;
    color: black;
  }
  .cms-content {
    margin-left:222px; /* Ensure content is not hidden by the sidebar */
    padding: 1rem;
  }
  .cms-header {
    background-color: #072840;
    color: #fff;
    padding: 1rem;
    text-align: left;
    display: flex-start;
    justify-content: space-between;
    align-items: center;
  }
  .main {
    margin-top: 20px; /* Add some space below the header */
    padding: 1rem;
  }
  .main-title {
    font-size: medium;
    font-weight: bold;
    color: #000;
  }
 .main-table-container{
    display: flex;
    margin-right: 20px;
    font-size: small;
  }
  .main-table {
display: inline;
  }
  .table-container {
    display: flex;
    margin-right: 20px;
  }
  .dashboard-table {
    border-collapse: collapse;
    width: 100%;
  }
  .dashboard-table th, .dashboard-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  .dashboard-table th {
    background-color: #FAFAFA;
    color: black;
    font-weight: lighter ;
  }
  .dashboard-table td {
    background-color: #F9F9F9;
  }